﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="indivEvent.aspx.cs" Inherits="Marikina.indivEvent" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">

    <a href="../assets/global/img/portfolio/1200x900/77.jpg" class="cbp-lightbox">
                    <img src="../assets/global/img/portfolio/1200x900/77.jpg" style="height:700px;" alt=""> </a>
    <div class="portfolio-content container">
    
  
    
    <div class="cbp-l-project-container padvisionmission">
        <div class="cbp-l-project-desc">
            <div class="cbp-l-project-desc-title">
                <span>Project Description</span>
            </div>
            <div class="cbp-l-project-desc-text">It's what Saturday night should be – dancing and drinking on a luxury yacht. Come aboard ZEPHYR’s three-hour cruise boasting signature cocktails, and three indoor and outdoor levels of pulsating energy.</div>
        </div>
        <div class="cbp-l-project-details">
            <div class="cbp-l-project-details-title">
                <span>Project Details</span>
            </div>
            <ul class="cbp-l-project-details-list">
                <li>
                    <strong>Date</strong>January 18, 2017</li>
                <li>
                    <strong>Time</strong>1:00pm</li>
                <li>
                    <strong>Venue</strong>Pup Sta Mesa</li>
            </ul>
            <a href="#" target="_blank" class="cbp-l-project-details-visit btn red uppercase">Reserve</a>
        </div>
    </div>
    <br>
    <br>
    <br> </div>
</asp:Content>
